<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title>$title</title>
  <link rel="stylesheet" href="/media/base.css" type="text/css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="application/javascript"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script src="/media/base.js" type="application/javascript"></script>
</head>
<body>
  <header>
    <div class="constrain-width">
      <img src="/media/logo.gif" width="251" height="78" alt="University of Oxford"/>
      <div>data.ox.ac.uk</div>
    </div>
  </header>
  
  <nav>
    <div class="constrain-width">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/docs/">Documentation</a></li>
        <li><a href="/datasets/">Datasets</a></li>
        <li><a href="/sparql/">SPARQL</a></li>
        <li><a href="/resources/">Resources</a></li>
        <li><a href="/about/">About</a></li>
      </ul>
    </div>
  </nav>
  
  <article>
    <div class="constrain-width">
      #if($fullContent)
        $fullContent
      #else
        <h1>$title</h1>
  
        <div class="content">
          $content
        </div>
      #end
    </div>
  </article>
  
  <footer>
    <div class="constrain-width">
      Site &#169; University of Oxford
      &#8212;
      <a href="mailto:opendata@oucs.ox.ac.uk">opendata@oucs.ox.ac.uk</a>
    </div>
  </footer>
</body>
</html>
    
