<section about="$resource.URI">
#if( $resource.foaf_logo )
  <img src="$resource.foaf_logo.URI" alt="Logo for $resource.label" class="resource-logo"/>
#end
#if( $resource.foaf_img )
  <img src="$resource.foaf_img.URI" alt="Representative image of $resource.label" class="resource-img"/>
#end
#if( $resource.geo_lat && $resource.geo_long )
#if( $map_counter )
#set( $map_counter = $map_counter + 1)
#else
#set( $map_counter = 1)
#end
  <div id="google-map-$map_counter" class="google-map" title="Click for bigger map."></div>
  <script type="application/javascript">
    $(function() {
      var latLng = new google.maps.LatLng($resource.geo_lat, $resource.geo_long);
      var options = {
        zoom: 13,
        center: latLng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      var map = new google.maps.Map(document.getElementById("google-map-$map_counter"), options);
      var marker = new google.maps.Marker({
        position: latLng,
        map: map,
        title:"$esc.javascript($resource.label)",
      }); 
      google.maps.event.addListener(map, 'click', function() {
        window.location = "http://maps.google.co.uk/?q=$esc.url($esc.javascript($resource.label))@$resource.geo_lat,$resource.geo_long";
      });

    });
  </script>      
#end

#if ($resource.dct_description )
  <p class="resource-description">$esc.html($resource.dct_description)</p>
#elseif ($resource.dc_description)
  <p class="resource-description">$esc.html($resource.dc_description)</p>
#end

<table>
  <tbody>
#set( $counter = 0)
#foreach( $entry in $resource.propertyMap.entrySet() )
#set( $counter = $counter + 1)
    <tr class="#if(($counter % 2) == 0)even#{else}odd#{end}-row">
      <th>$esc.html($entry.key)</th>
      <td>
#foreach( $object in $entry.value )
        <p>$esc.html($object)</p>
#end
      </td>
    </tr>
#end
  </tbody>
</table>

</section>
