#define( $title )$resource.label#end
#define( $content )

#parse( "describe.vm" )

<footer>
  <p class="formats">
    Other formats: 
    <ul>
#foreach( $entry in $serializers.entrySet() )#if( $entry.key != "html")
      <li><a href="$esc.xml($query.getDocURL($entry.key))">$esc.html($entry.value.name)</a></li>
#end#end
    </ul>
  </p>
</footer>
#end
#parse( "base.vm" )
