<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>humfrey</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
    <param-name>humfrey.databaseURL</param-name>
    <param-value>jdbc:postgresql://localhost/humfrey</param-value>
  </context-param>
  <context-param>
    <param-name>humfrey.databaseUser</param-name>
    <param-value>humfrey</param-value>
  </context-param>
  <context-param>
    <param-name>humfrey.databasePassword</param-name>
    <param-value>humfrey</param-value>
  </context-param>
  <context-param>
    <param-name>humfrey.configPath</param-name>
    <param-value>webapps/humfrey-0.1/WEB-INF/config.n3</param-value>
  </context-param>
  <context-param>
    <param-name>humfrey.logDirectory</param-name>
    <param-value>editlog</param-value>
  </context-param>
  <context-param>
    <param-name>humfrey.userPrefix</param-name>
    <param-value>http://data.ox.ac.uk/id/user/</param-value>
  </context-param>
  <context-param>
    <param-name>humfrey.wwwAuthenticateHeader</param-name>
    <param-value>Basic "data.ox.ac.uk"</param-value>
  </context-param>
  
  <servlet>
  	<servlet-name>index</servlet-name>
  	<servlet-class>uk.ac.ox.oucs.humfrey.servlets.IndexServlet</servlet-class>
  	<load-on-startup>5</load-on-startup>
  </servlet>

  <servlet>
  	<servlet-name>dataset</servlet-name>
  	<servlet-class>uk.ac.ox.oucs.humfrey.servlets.DatasetServlet</servlet-class>
  	<load-on-startup>5</load-on-startup>
  </servlet>

  <servlet>
  	<servlet-name>id</servlet-name>
  	<servlet-class>uk.ac.ox.oucs.humfrey.servlets.IdServlet</servlet-class>
  	<load-on-startup>5</load-on-startup>
  </servlet>

  <servlet>
  	<servlet-name>graph</servlet-name>
  	<servlet-class>uk.ac.ox.oucs.humfrey.servlets.GraphServlet</servlet-class>
  	<load-on-startup>5</load-on-startup>
  </servlet>
 
  <servlet>
  	<servlet-name>doc</servlet-name>
  	<servlet-class>uk.ac.ox.oucs.humfrey.servlets.DocServlet</servlet-class>
  	<load-on-startup>5</load-on-startup>
  </servlet>
  
  <servlet>
  	<servlet-name>sparql</servlet-name>
  	<servlet-class>uk.ac.ox.oucs.humfrey.servlets.SparqlServlet</servlet-class>
  	<load-on-startup>5</load-on-startup>
  </servlet>
  
<!--
  <servlet>
    <servlet-name>default</servlet-name>
    <servlet-class>
      org.apache.catalina.servlets.DefaultServlet
    </servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>0</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
-->
  
 
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>dataset</servlet-name>
    <url-pattern>/datasets/</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>id</servlet-name>
    <url-pattern>/id/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>graph</servlet-name>
    <url-pattern>/graph/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>graph</servlet-name>
    <url-pattern>/ontology/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>doc</servlet-name>
    <url-pattern>/doc/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>sparql</servlet-name>
    <url-pattern>/sparql/</url-pattern>
  </servlet-mapping>
  
  <!--
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/static/</url-pattern>
  </servlet-mapping>
  -->

  <mime-mapping>
    <extension>gif</extension>
    <mime-type>image/gif</mime-type>
  </mime-mapping>

</web-app>